{% assign colors = total_colors | split: " " %}
{% assign current_color = '' %}


{% for color in colors %}

	{% if collection.title contains color %}
		{% assign current_color = color %}
	{% endif %}

	<li class="color-filter" data-color="{{ color }}"><span class="circle"><span class="cross"></span></span></li>
	
{% endfor %}
