<div class="left-aside">
  {% comment %} for each custom collection {% endcomment %}
    {% comment %} TODO make sure it finds parent collection and keeps option within that colleciton {% endcomment %}
    
    
    {% assign family = collection.metafields.global %}
    
     {% assign var = collection.title | handle %}

    {% if family['parent'] %}
      {% assign var = family['parent'] %}
    {% elsif collection.title contains "Products" %}
      {% assign var = "All-Dresses" %}
    {% endif %}    

    {% assign coll = collections[var] %}
      
    {% include 'sizes-colors-vendors' coll: coll %}
    
    <ul class="left-aside-filters small-js-hidden">
      <h2> <b> Filter By: </b></h2>  
      <li>
        <h2> Size: </h2>
        <ul class="size-filter">
          {% include "sizes-in-collection" total_sizes: total_sizes %}
        </ul>
      </li>
      <li class="color-filter--wrapper">
        {% comment %}for each color in collection{% endcomment %}
        <h2> Color: </h2>
        <ul class="color-filter">
          {% include "colors-in-collection" total_colors: total_colors %}
        </ul>
      </li>
      <li>
        <button class="btn clear"> Clear </button>
        <button class="btn filter"> Search </button>
      </li>
    </ul>
    
</div>



<script type="text/javascript">

  // expose liquid data to variablse
  var color = "{{ current_color }}";
  var parent = "{{ var }}";
  var title = "{{ collection.title }}";

  $(document).ready(function(){
    theme.variables.currentColor = color;
    theme.variables.curCollectionTitle = title;
    theme.variables.parentCollection = parent;
  });

</script>