<!-- /templates/page.size.liquid -->
{% comment %}
REUBEN // THIS IS THE PAGE TEMPLATE FOR THE SIZING CHART – IE. NO FOOTER AND SOME WRAPPER STUFF FOR STYLING
{% endcomment %}

<div class="dm-page-size">
  <h1>{{ page.title }}</h1>
  <hr class="hr--small">
  {{ page.content }}
</div>